@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: white;
  color: #333;
  font-size: 1.5rem;
  font-family: 'Hiragino Maru Gothic ProN', Meiryo, sans-serif;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* header */
.header {
  padding: 100px 100px 0;;
}

.header .name {
  font-size: 3.5rem;
  float: left;
}

.header .list {
  float: right;
}

.header .list-item {
  display: inline-block;
  margin: 0 0 0 20px;
}

.header .list-item:first-of-type {
  margin-left: 0;
}

.header .list-item > a {
  font-size: 2.5rem;
  font-family: 'Courier New';
  font-weight: normal;
  color: gray;
  transition: all 0.15s;
}

.header .list-item > a:hover {
  opacity: 0.7;
}

/* top */
.top {
  padding: 100px 100px 150px;
}

.top .top-box {
  background-image: url('desk.jpg');
  width: 100%;
  background-size: cover;
}

.top .image {
  background-color: rgba(255, 255, 255, 0.4);
}

.top .copy {
  padding: 150px;
  font-family: 'Comic Sans MS';
  font-size: 10rem;
}

.top .copy::after {
  content: '説明のいらないデザインを';
  display: block;
  font-size: 2.5rem;
  margin: 80px 0 0;
  color: gray;
}

/* skills */
.skills {
  padding: 100px 100px 120px;
  background-color: rgba(245, 245, 245);
}

.heading {
  font-size: 5rem;
  font-family: 'Courier New';
  font-weight: normal;
  color: gray;
  margin: 0 0 80px;
}

.skills .skill-wrapper {
  width: 600px;
  margin: 0 auto;
}

.skills .skill {
  padding: 20px;
  width: 250px;
  height: 250px;
  border: 2px solid rgba(235, 235, 235);
  border-radius: 50%;
  box-shadow: 0 0 7px 0 gray;
  cursor: pointer;
  transition: all 0.3s;
  display: table;
}

.skills .skill:hover {
  box-shadow: 0 0 20px 0 gray;
}

.skills .code {
  float: left;
}

.skills .edit {
  float: right;
}

.skill .fas {
  margin: 0 0 20px;
  font-size: 10rem;
  color: gray;
}

.skill .name {
  font-size: 2rem;
  color: gray;
}

.skill .icon {
  display: table-cell;
  vertical-align: middle;
}

.skills .desc {
  width: 580px;
  height: 20px;
  margin: 80px auto 0;
  color: gray;
  font-size: 2rem;
  position: relative;
}

.desc .right,
.desc .text {
  display: inline-block;
}

.desc .right {
  position: absolute;
  top: 0;
  left: 0;
}

.desc .text {
  display: none;
  position: absolute;
  top: 0;
  left: 35px;
}

/* products */
.products {
  padding: 100px;
}

.products .link-wrapper {
  width: 600px;
  margin: 0 auto;
}

.link-wrapper .link {
  display: block;
  width: 600px;
  height: 300px;
  margin: 0 0 50px;
  box-shadow: 0 0 7px 0 gray;
  opacity: 0.9;
  transition: all 0.25s;
}

.link-wrapper .link:hover {
  box-shadow: 0 0 20px 0 gray;
  opacity: 1;
}

.link-wrapper .link:last-of-type {
  margin-bottom: 0;
}

.link-wrapper .image {
  width: inherit;
  height: inherit;
}

/* footer */
.footer {
  padding: 50px;
  background-color: rgba(245, 245, 245);
  position: relative;
}

.footer .btn {
  display: block;
  width: 80px;
  height: 80px;
  padding: 13px;
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  right: 50px;
  position: fixed;
  z-index: 1;
  transition: all 0.15s
}

.footer .btn:hover {
  background-color: gainsboro;
}

.footer .fas {
  font-size: 5rem;
  color: white;
}

.footer p {
  color: lightgray;
}

/* about */
.about {
  padding: 100px;
}

.about .image-wrapper,
.about .text-wrapper {
  width: 600px;
  margin: 0 auto;
}

.about .image {
  display: block;
  width: inherit;
  height: 350px;
  margin-bottom: 30px;
}

.about .text-wrapper {
  padding: 50px 0 0;
}

.about .back {
  font-size: 2rem;
  color: gray;
  position: absolute;
  top: 120px;
  left: 200px;
}

.about .left {
  margin-right: 8px;
}

.about .about-text {
  margin: 0 0 25px;
  font-size: 2rem;
  color: gray;
  line-height: 1.5;
  text-align: left;
}

.about .about-text:last-of-type {
  margin-bottom: 0;
}

/* responsive */
@media (max-width: 1024px) {
  .header {
    padding: 70px 70px 0
  }

  .header .name {
    font-size: 3rem;
  }

  .header .list-item > a {
    font-size: 2.2rem;
  }

  .header .list-item > a:hover {
    opacity: 1;
  }

  .top {
    padding: 70px 70px 100px;
  }

  .top .copy {
    padding: 100px;
  }

  .skills {
    padding: 70px 70px 100px;
  }

  .skills .skill:hover {
    box-shadow: 0 0 7px 0 gray;
  }

  .products {
    padding: 70px 70px 100px;
  }

  .link-wrapper .link {
    opacity: 1;
  }

  .link-wrapper .link:hover {
    box-shadow: 0 0 7px 0 gray;
  }

  .footer .btn:hover {
    background-color: lightgray;
  }

  .about {
    padding: 70px;
  }

  .about .back {
    top: 90px;
    left: 120px;
  }
}

@media (max-width: 800px) {
  .header .name {
    font-size: 2.5rem
  }

  .header .list-item > a {
    font-size: 1.8rem;
  }

  .top .top-box {
    height: 400px;
  }

  .top .image {
    height: inherit;
  }

  .top .copy {
    height: inherit;
    padding: 70px;
    font-size: 7rem;
    line-height: 1.3;
  }

  .top .copy::after {
    font-size: 1.8rem;
    margin: 50px 0 0;
  }

  .heading {
    font-size: 4rem;
  }

  .skills .skill-wrapper {
    width: 500px;
  }

  .skills .skill {
    width: 200px;
    height: 200px;
  }

  .skill .fas {
    font-size: 7.5rem;
  }

  .skill .name {
    font-size: 1.8rem;
  }

  .skills .desc {
    width: 480px;
  }

  .products .link-wrapper {
    width: 500px;
  }

  .link-wrapper .link {
    width: 500px;
    height: 250px;
  }

  .about .image-wrapper,
  .about .text-wrapper {
    width: 500px;
  }

  .about .image {
    height: 300px;
  }

  .about .back {
    top: 85px;
    left: 90px;
    font-size: 1.8rem;
  }
}

@media (max-width: 750px) {
  .header .name {
    font-size: 2rem;
  }

  .header .list-item {
    margin-left: 10px;
  }

  .header .list-item > a {
    font-size: 1.5rem
  }

  .top .top-box {
    height: 350px;
  }

  .top .copy {
    padding: 50px;
    font-size: 5.5rem;
    line-height: 1;
  }

  .footer .btn {
    width: 60px;
    height: 60px;
    padding: 10px;
    bottom: 70px;
    right: 30px;
  }

  .footer .fas {
    font-size: 4rem;
  }
}

@media (max-width: 650px) {
  .heading {
    font-size: 3rem;
  }

  .skills .skill-wrapper {
    width: 400px;
  }

  .skills .skill {
    width: 160px;
    height: 160px;
  }

  .skill .fas {
    font-size: 5rem;
  }

  .skills .desc {
    width: 400px;
  }

  .products .link-wrapper {
    width: 400px;
  }

  .link-wrapper .link {
    width: 400px;
    height: 200px;
  }

  .about .image-wrapper,
  .about .text-wrapper {
    width: 400px;
  }

  .about .image {
    height: 230px;
  }

  .about .about-text {
    font-size: 1.7rem;
  }

  .about .back {
    top: 80px;
    left: 80px;
  }
}

@media (max-width: 560px) {
  .header {
    padding: 50px 30px 0;
  }

  .header .name {
    float: none;
  }

  .header .list {
    float: none;
    margin-top: 30px;
  }

  .header .list-item {
    display: block;
    margin: 20px auto 0
  }

  .header .list-item > a {
    font-size: 2rem;
  }

  .top {
    padding: 40px 0 60px;
  }

  .top .top-box {
    height: 250px;
  }

  .top .copy {
    padding: 50px 30px 50px;
    font-size: 3rem;
    line-height: 1.3;
  }

  .top .copy::after {
    font-size: 1.2rem;
    margin: 40px 0 0;
  }

  .skills {
    padding: 50px 10px 50px;
    background-color: white;
  }

  .heading {
    display: inline-block;
    margin: 0 0 40px;
    border-bottom: 3px solid lightgray;
  }

  .skills .skill-wrapper {
    width: 230px;
  }

  .skills .skill {
    padding: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(235, 235, 235);
  }

  .skill .fas {
    margin: 0 0 10px;
    font-size: 3rem;
  }

  .skill .name {
    font-size: 1.2rem;
  }

  .skills .desc {
    width: 230px;
    margin: 40px auto 0;
    font-size: 1.5rem;
  }

  .desc .text {
    left: 25px;
  }

  .products {
    padding: 50px 10px 50px;
  }

  .products .link-wrapper {
    width: 230px;
  }

  .link-wrapper .link {
    width: 230px;
    height: 115px;
  }

  .footer {
    padding: 50px 25px 25px;
    background-color: white;
  }

  .footer .btn {
    width: 50px;
    height: 50px;
    padding: 9px;
    bottom: 50px;
    right: 13px;
  }

  .footer .fas {
    font-size: 3rem;
  }

  .about {
    padding: 50px 10px 50px;
  }

  .about .image-wrapper,
  .about .text-wrapper {
    width: 230px;
  }

  .about .image {
    height: 135px;
  }

  .about .text-wrapper {
    padding-top: 20px;
  }

  .about .about-text {
    font-size: 1.4rem;
  }

  .about .back {
    top: 60px;
    left: 25px;
    font-size: 1.2rem;
  }
}
